@charset "utf-8";
{
    /*font-family: 'Inconsolata', monospace;*/
}
.video video {width: 100%;}

.video {
        width: 100vw;
    height: calc(100vw * .618);
    overflow: hidden;

}

.videoWrapper{
    position:relative;
}
.videoInner::after {
    position:absolute;
    background-color: rgba(97, 192, 245, 0.19);
    content: "";
    z-index:2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.videoInner {
    overflow:hidden;
    position: relative;
}

#interview .readmore button,
#workingStyle .readmore button{
    width:16rem;
    font-size:1.3rem;
    padding-top:0.3rem;
    padding-bottom:0.3rem;
    text-align:center;
}


section .style1{
    color:#3FA9F5;
    margin-bottom: 1rem;
}
.style2{
    font-size:1.2rem;
    font-weight:bold;
}


/*firstview*/
#firstview{
    margin-bottom: 3rem;
    position:relative;
}
#firstview:before{
    content:" ";
    display:block;
    position:absolute;
    bottom: -0.7rem;
    height: 0.7rem;
    width:100%;
    background-color:#3FA9F5;
}

/*newArea*/
#newsArea{
    margin-bottom:2rem;
}
.information_title{

    background-color:#3FA9F5;
    color:#fff;
    font-weight:bold;
    padding:0.8rem 4rem;
}
.news_list{
    padding:0 4rem;
}
.honbun{
    display:flex;
    padding:1.5rem;
    border-bottom:2px dashed #ddd;
}
.honbun .cat{
    display:inline-block;
    width:10rem;
}
.honbun .entry-date{
    display:inline-block;
    width:10rem;
}

.honbun h2{
    font-size:1rem;
}




/*excellentStyle*/
#excellentStyle{
    margin-bottom:3rem;
}
.excellentStyle_title{
    margin-bottom:5rem;
}
.excellentText_block{
    margin-bottom:3rem;

}
.excellent_text{
    text-align:center;
}
.excellent_text .style3{
    font-size:1.5rem;
    margin-bottom:1rem;
}
.excellent_text .style3 + p{
    width:45rem;
    margin:auto;
    letter-spacing: 0.3rem;
}

.excellent_style:not(:last-child){
    margin-bottom:2.5rem;
}
.excellent_style{
    position:relative;
    padding:2rem;
    margin-left: 1rem;
    border:1px solid #bbb;
}

.excellent_img {
    position:absolute;
    top: -2rem;
    left:calc(-2rem - 1px);
    transform:translate(-1rem,-1.5rem);1
}


/*working*/
#workingStyle{
    margin-bottom:3rem;
}
.workingStyle_title{
    margin-bottom: 3rem;
}
.workingText_block{
    margin-bottom:3rem;

}
.working_text{
    text-align:center;
}
.working_text .style3{
    font-size: 1.8rem;
    margin-bottom:1rem;
}
.working_text .style3 + p{
    width:45rem;
    margin:auto;
    letter-spacing: 0.3rem;
}

.working_select .col p{
    font-size:1.3rem;
    text-align:center;
    margin:2rem 0 2.5rem 0;
}
#workingStyle .readmore{
    margin-bottom:2.5rem;
}

#workingStyle .readmore button i{
    left:auto;
}


/*interview*/
#interview{
    margin-top: calc(5rem + 59px);
    background-color:#3FA9F5;
}
.interview_box > div > .wpb_wrapper{
    position:relative;
}

.interview_title {
    position:absolute;
    top:-59px;
    width:100%;
    text-align:center;
}
.fukidashi figure{
    position:absolute;
    left: -30px;
    top: -65px;
}
.interviewImg_right {
    position:absolute;
    top: 18px;
    left: calc(100% - 290px);
}

.interview_02{
    color:#fff;
    text-align:center;
    font-size:1.2rem;
    line-height:1.6;
    padding:5rem 0;
}
.interview_col{
    padding:0 1rem;
    margin-bottom:2rem;
}

.interview_col > div > .wpb_wrapper{
    padding:0.5rem;
    background-color:#fff;
}
.interview_col > div > .wpb_wrapper > .wpb_text_column{
    background-color:#FFFF00;
    padding:0.3rem 0;
}
#interview .readmore{
    margin-top:1rem;
    margin-bottom:5rem;
}